



  
  
  header ul {
    
    display: flex;
   
    justify-content: center;
    align-items: center;
   
    
   
  }
  
  header a {
    color: #eee;
    font-size: 3.5rem;
    text-decoration: none;
    transition: all 0.2s ease;
    margin: auto 7em;
    
   
  }
  
  header a:hover {
    color: rgb(19, 16, 13);
  }

  body {
    
  background-color: rgb(16, 91, 113);

  height: 200px;
  background-size: cover;
    

  }

