


  
  header ul {
    
    display: flex;
   
    justify-content: center;
    align-items: center;
   
    
   
  }
  
  header a {
    color: #eee;
    font-size: 3.5rem;
    text-decoration: none;
    transition: all 0.2s ease;
    margin: auto 7em;
    
   
  }
  
  header a:hover {
    color: rgb(19, 16, 13);
  }
body{
  background-color: black;
}
 
  

  .you{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 20%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
  }
  .look{
    margin: 0;
   position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
  }
  
.hi{
  margin: 0;
  position: absolute;
  bottom: -120%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h1{
  text-align: center;
  font-size: 100px;
  color: red;
}
p{
  color: red;
  text-align: center;
  font-size: 40px;
}
.grid{
  font-size: 70px;
  text-align: center;
  color: red;
 
}

